AccesoSQLiteyServicio/AccesoSQLiteyServicio/Web References/ServicioWindows/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarenSQLServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IngresosMexico" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="EgresosMexico" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="IngresosColombia" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="EgresosColombia" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarenSQLServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarenSQLServerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarenSQLServerSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarenSQLServer" />
  </wsdl:message>
  <wsdl:message name="InsertarenSQLServerSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarenSQLServerResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="InsertarenSQLServer">
      <wsdl:input message="tns:InsertarenSQLServerSoapIn" />
      <wsdl:output message="tns:InsertarenSQLServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarenSQLServer">
      <soap:operation soapAction="http://tempuri.org/InsertarenSQLServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarenSQLServer">
      <soap12:operation soapAction="http://tempuri.org/InsertarenSQLServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.16.73.142/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.16.73.142/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>