Modulo 3 - Leccion5/AccesoSQLiteyServicio/Web References/ServicioLinux/ServicioWEB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarenMySQLServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IngresosMexico" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="EgresosMexico" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="IngresosColombia" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="EgresosColombia" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarenMySQLServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarenMySQLServerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarenMySQLServerSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarenMySQLServer" />
  </wsdl:message>
  <wsdl:message name="InsertarenMySQLServerSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarenMySQLServerResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarenMySQLServerHttpGetIn">
    <wsdl:part name="IngresosMexico" type="s:string" />
    <wsdl:part name="EgresosMexico" type="s:string" />
    <wsdl:part name="IngresosColombia" type="s:string" />
    <wsdl:part name="EgresosColombia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarenMySQLServerHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="InsertarenMySQLServerHttpPostIn">
    <wsdl:part name="IngresosMexico" type="s:string" />
    <wsdl:part name="EgresosMexico" type="s:string" />
    <wsdl:part name="IngresosColombia" type="s:string" />
    <wsdl:part name="EgresosColombia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarenMySQLServerHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="ServicioWEBSoap">
    <wsdl:operation name="InsertarenMySQLServer">
      <wsdl:input message="tns:InsertarenMySQLServerSoapIn" />
      <wsdl:output message="tns:InsertarenMySQLServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServicioWEBHttpGet">
    <wsdl:operation name="InsertarenMySQLServer">
      <wsdl:input message="tns:InsertarenMySQLServerHttpGetIn" />
      <wsdl:output message="tns:InsertarenMySQLServerHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServicioWEBHttpPost">
    <wsdl:operation name="InsertarenMySQLServer">
      <wsdl:input message="tns:InsertarenMySQLServerHttpPostIn" />
      <wsdl:output message="tns:InsertarenMySQLServerHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWEBSoap" type="tns:ServicioWEBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarenMySQLServer">
      <soap:operation soapAction="http://tempuri.org/InsertarenMySQLServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWEBSoap12" type="tns:ServicioWEBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarenMySQLServer">
      <soap12:operation soapAction="http://tempuri.org/InsertarenMySQLServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWEBHttpGet" type="tns:ServicioWEBHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertarenMySQLServer">
      <http:operation location="/InsertarenMySQLServer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWEBHttpPost" type="tns:ServicioWEBHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertarenMySQLServer">
      <http:operation location="/InsertarenMySQLServer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWEB">
    <wsdl:port name="ServicioWEBSoap" binding="tns:ServicioWEBSoap">
      <soap:address location="http://192.168.2.153/ServicioWEB.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWEBSoap12" binding="tns:ServicioWEBSoap12">
      <soap12:address location="http://192.168.2.153/ServicioWEB.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWEBHttpGet" binding="tns:ServicioWEBHttpGet">
      <http:address location="http://192.168.2.153/ServicioWEB.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWEBHttpPost" binding="tns:ServicioWEBHttpPost">
      <http:address location="http://192.168.2.153/ServicioWEB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>